#sideHeader {
  .container {
    background: #232135;
    margin: 2%;
    min-height: 40%;
    border-radius: 5px;
  }

  .setPadding {
    padding: 5%;
  }

  .navlink {
    text-decoration: none;
    color: aliceblue;
  }
}
